.button {
  width: 80%;
  margin: 20px auto;
  padding: 5px;

  font-size: 1rem;
  color: white;

  background-color: grey;
  border: none;
  border-radius: 10px;
  outline: none;

  user-select: none;
}

.button__done {
  background-color: green;
  cursor: pointer;
}
