.options_container {
  width: 20%;
}

.options_list {
  list-style: none;
  padding-left: 10px;
}

@media (max-width: 670px) {
  .options_container {
    width: 45%;
  }
}

@media (max-width: 450px) {
  .options_container {
    width: 250px;
  }
}
