.header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
}

.staticBar__list {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: lightpink;
}

.staticBar__item {
  width: calc(100% / 6);
  text-align: center;
  padding: 10px 0;
}

.staticBar__item_selected {
  background-color: red;
}

.logo {
  margin: 10px 0;
}

@media (max-width: 600px) {
  .staticBar__list {
    flex-wrap: wrap;
  }

  .staticBar__item {
    width: calc(100% / 3);
  }
}
