.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.staticBar__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: grey;
  border-radius: 10px;
}

.staticBar__item {
  width: calc(100% / 6);
  padding: 10px 0;

  text-align: center;

  border-radius: 10px;
}

.staticBar__item_selected {
  background-color: rgb(85, 154, 218);
}

.logo {
  width: 105px;
  height: 50px;
  margin: 10px 0;

  background-image: url("../../assets/images/logo1.jpg");
  background-size: cover;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .staticBar__list {
    flex-wrap: wrap;
  }

  .staticBar__item {
    width: calc(100% / 3);
  }
}
