.container {
  display: flex;
  width: 100%;
  height: 200px;
  margin: 20px 0;
}

.img_wrapper {
  width: 250px;
  height: 180px;
  margin: 10px 20px;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
}

.img_wrapper__undone {
  background-image: url("../../assets/images/empty.jpg");
}

.player_wrapper {
  width: calc(100% - 250px);
}

.answer {
  height: 40px;
  margin: 15px 80px 15px 20px;

  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.player {
  width: 80%;
  height: 70px;
  margin: 10px 20px;
}

@media (max-width: 670px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .player_wrapper {
    width: 100%;
  }

  .answer {
    width: 250px;
    margin: 0 auto;

    text-align: center;
  }

  .player {
    width: 80%;
    margin: 10px auto;
  }
}

@media (max-width: 350px) {
  .player {
    width: 90%;
  }
}
