.container {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;

  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
  color: white;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
